body{
    background-color: #00091d;
    border: none;
    margin: 0;
    display: grid;
    align-items: center;
}
#title{
    display: flex;
    justify-content: center;
}
#viewer{
    height: 100vh;
    width: 100%;
}
#pumpkin{
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 1px;
}
#info{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}