body{
    background-color: #00091d;
    border: none;
    margin: 0;
}
#title{
    display: flex;
    justify-content: center;
}
#viewer{
    height: 70vh;
}
#pumpkin{
    position: fixed;
    z-index: 100;
    top: 60vh;
    left: -100px;
}
#info{
    position: absolute;
   display: flex;
   align-items: flex-end;
}